/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  color: #4b2e83;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;  /* Ensuring content visibility */
  padding: 20px;
  overflow-y: auto;  /* Handle overflow */
  max-height: 90vh;  /* Ensure content fits within view height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: #861f41;
  font-size: 1.8em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%; /* Adjust this value to control the form's width */
  max-width: 500px; /* Optionally, set a max-width */
  margin: 0 auto; /* Center the form horizontally */
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #4b2e83;
  transition: color 0.3s ease;  /* Add transition for hover effect */
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;  /* Ensure padding does not affect width */
  transition: border-color 0.3s ease;  /* Add transition for hover effect */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #861f41;
  outline: none;
}

label:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
select:hover {
  color: #861f41;  /* Change label color on hover */
  border-color: #4b2e83;  /* Change input border color on hover */
}

button[type="submit"] {
  background-color: #861f41;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #4b2e83;
}

/* Footer Styles */
footer {
  text-align: center;
  margin-top: 20px;
}

footer p {
  font-size: 0.9em;
  color: #999;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 500px) {
  main {
      padding: 15px;
  }

  h1 {
      font-size: 1.5em;
  }

  button[type="submit"] {
      font-size: 1em;
  }
}
